body {
     display: flex;
 justify-content: center;
    align-items: center;
     height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #ec737d;
}



textarea {
    width: 350px;
     height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    
    font-size: 16px;
    resize: none;
}

.counter {
    display: flex;
    justify-content: space-between;
}

.container {
    background-color: #da9b9b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


h1 {
    margin-bottom: 10px;
    font-size: 24px;
}